header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.banner {
  width: 100%;
  aspect-ratio: 16/9;
  background-image: url(./img/hotel.jpg);
  background-size: cover;
}

.banner__stripe {
  color: white;
  background-color: rgba(9, 11, 128, 0.5);
  padding: 0.5rem 0;
}

.banner__stripe h1 {
  font-family: 'Agbalumo', cursive;
  font-size: 1.5rem;
  margin: 0;
}

.banner__stripe .lead {
  font-size: 1rem;
  margin: 0;
}

@media screen and (min-width: 740px) {
  .banner__stripe {
    padding: 1rem 0;
  }

  .banner__stripe h1 {
    font-size: 2rem;
  }

  .banner__stripe .lead {
    font-size: 1.2rem;
  }
}
