@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 740px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

section {
  padding: 2rem 0;
}

section.dark {
  background-color: #131e2a;
  color: white;
}

section.dark a {
  color: white;
}

section.dark *::-webkit-scrollbar {
  width: 0.5rem;
}

section.dark *::-webkit-scrollbar-track {
  background: #535457;
  border-radius: 0.5rem;
}

section.dark *::-webkit-scrollbar-button {
  display: none;
}

section.dark *::-webkit-scrollbar-thumb {
  background: #4d4d54;
  border-radius: 0.5rem;
}

section.dark *::-webkit-scrollbar-thumb:hover {
  background: #363538;
}

section.light {
  background-color: #e8e9f3;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}


.cards-row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0;
}

.card {
  flex: 1 0 8rem;
  color: #aaa;
  transition: transform 0.2s;
}

.card:hover,
.card--selected {
  color: white;
}

.card:hover img,
.card--selected img {
  border: 2px solid white;
}

.card__image {
  border-radius: 0.5rem;
}

.card__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
}

.card__body {
  padding: 0 0.5rem;
}

.columns-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 740px) {
  .columns-2 {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.form-fields {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.field-input {
  justify-self: left;
}

.field-label {
  justify-self: right;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  width: 100%;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

button {
  font-size: 1rem;
  background-color: #e76836;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #eC845b;
  cursor: pointer;
}

button.wide {
  display: block;
  width: 100%;
  padding: 1rem;
}
